// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
  border: none;

  cursor: pointer;
  display: block;
  overflow: hidden;

  @extend %transition;

  p {
    padding: 0;
    color: $--white;
  }

  &--rounded {
    border-radius: $--border-radius;
  }

  &--primary {
    background-color: $--primary;

    &:hover {
      color: $--white;
      background-color: darken($--primary, 10%);
    }
  }

  &--secondary {
    background-color: $--secondary-bg;

    &:hover {
      color: $--white;
      background-color: darken($--secondary-bg, 10%);
    }
  }
}
