.room-card {
  padding: 0 10px;

  @extend %display-flex-column;
  align-items: flex-start;

  text-align: center;
  border-radius: $--border-radius;

  &__img {
    position: relative;

    &:before {
      // фикс бага
      content: '';

      display: block;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: $--border-radius--img;
    }
  }

  &__wrapper {

    @extend %display-flex-column;
    flex: 1;
    justify-content: center;

    position: relative;

    width: 100%;
    background-color: $--white;
    border-radius: 0 0 $--border-radius $--border-radius;
  }


  &__buttons {
    position: absolute;
    bottom: 0;

    width: 100%;

    @extend %display-flex;
    justify-content: space-between;
  }

  &__btn {
    padding: 20px;
    width: 50%;

    &--solo {
      width: 100%;
      border-radius: 0 0 $--border-radius $--border-radius;
    }
  }

  &__title {
    padding: 20px 0 0 0;
    min-height: 66px;
    vertical-align: middle;
    text-transform: uppercase;
  }

  &__description {
    padding: 0 10px 10px;
    flex: 1;
  }

  &__description-text {
    color: $--black;
    height: 90px;

    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) {
  .room-card {
    &__title {
      min-height: 30px;
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .room-card {
    &__btn {
      padding: 15px;
    }
  }
}
