// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  padding: 50px;

  position: relative;
  background: $--black;
  color: $--white;

  &__wrapper {
    padding-top: 35px;
    padding-bottom: 65px;

    @extend %display-flex;
    justify-content: space-around;

    z-index: 2;
  }

  &__title {
    padding-bottom: 10px;
    margin-bottom: 25px;

    position: relative;
  }

  &__logo {
    .logo {
      padding: 0;
      margin-top: -20px;
    }
  }

  &__nav {
    justify-content: center;
  }

  &__nav-list {
    padding: 0;

    & > li > .nuxt-link-active {
      color: $--secondary;
    }
  }

  &__nav-link {
    padding-bottom: 20px;
    display: block;

    color: $--white;

    &:hover {
      color: $--secondary;
    }
  }

  &__contact > p, &__contact > a {
    padding: 7px 0 7px 8px;
    display: block;

    color: $--white;
    word-break: break-all;
  }

  &__contact > a:hover {
    color: $--secondary;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }

  &__contact {
    @extend %display-flex;
    align-items: center;
    position: relative;

    a[target="_blank"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__contact-link {
    @extend %display-flex;
    justify-content: center;

    .footer__contact-link-ico {
      width: 34px;
      height: 24px;
      fill: $--secondary;
    }
  }

  &__contact-icon {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translate(0, -50%);

    width: 34px;
    height: 24px;
    fill: $--secondary;
  }

  &__subLogo {
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    line-height: 21px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__subtitle {
  }

  &__slug {
    margin-top: 10px;
    font-size: 12px;
    flex: 1 0 auto;
  }

  &__btn {
    z-index: 10;
    margin-top: 10px;

    button {
      padding: 15px 40px;
      color: $--white;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0;

    &__wrapper {
      padding: 50px 0;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      display: block;
      text-align: center;

      &:after {
        left: 50%;
        width: 120px;
        transform: translateX(-50%);
      }
    }

    &__logo {
      width: 270px;
    }

    &__subtitle, &__slug {
      display: none;
    }

    &__btn {
      display: flex;
      justify-content: center;

      width: 270px;
      margin-bottom: 20px;
    }

    &__nav-link {
      text-align: center;
    }

    &__contacts {
      display: flex;
      flex-direction: column;
    }

    &__subLogo {
      height: 100%;
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    &__contact {
      padding: 0 20px;
      justify-content: center;
      text-align: center;
    }

    &__contact-icon {
      left: -10px;
    }
  }
}
