.nav {
  padding: 85px 0;

  &__wrapper {
    @extend %display-flex-space-between;
    align-items: center;
  }

  &__list {
    @extend %display-flex-space-between;
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    &__wrapper {
      display: none;
    }
  }
}
