.nav-item {
  &__link {
    padding: 9px 24px;

    position: relative;
    display: block;

    color: $--black;

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 98%;
      height: 2px;
      background: $--primary;
      transform-origin: 0 50%;
      transition: transform 0.3s;
      transition-timing-function: ease;
      transform: scale3d(1, 1, 1);

    }

    &:hover {
      .nav-item &:before {
        transform: scale3d(0, 5, 1);
      }
    }
  }

  &__i18n-btn {
    color: $--black;
  }
}

@media screen and (max-width: 1590px) {
  .nav-item {
    &__link {
      padding: 9px 10px;
    }
  }
}
