// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------


.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1540px;
  width: 100%;
}

.page-section {
  padding: 88px 0;
}

@media screen and (max-width: 1590px) {
  .container {
    max-width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .page-section {
    padding: 52px 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
