/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  letter-spacing: 2px;
  font: normal 125% / 1.4 $text-font-stack;
}

h1, h2, h3 {
  font-weight: 900;
  font-family: $--header-font;
  font-style: italic;
  // letter-spacing: 2px;
}


h1 {
  font-size: 45px;
  letter-spacing: $--spacing-title;
}

h2 {
  font-size: 35px;
  letter-spacing: $--spacing-title;
}

p, a {
  font-size: 20px;
  color: $--gray-text;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  p, a {
    font-size: 16px;
  }
}
