%display-flex {
  display: flex;
  flex-direction: row;
}

%display-flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

%transition {
  transition: all $transition-delay ease;
}
