// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// delay
$transition-delay: .3s;

/// Copy text color
$text-color: rgb(34, 34, 34) !default;
$brand-color: rgb(229, 0, 80) !default;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;


/// Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

/// Relative or absolute URL where all assets are served from
$base-url: '/assets/' !default;


//tmp
$--primary: #594593;
$--secondary: #f8bd23;
$--primary-bg: #7F9B26;
$--black: #1C1C1C;
$--white: #FFF;

$--black-darker: #000419;
$--black-text: rgba(40, 54, 75, 1);
$--black-light: rgba(40, 54, 75, .2);
$--gray: #F1F0E8;
$--gray-lighter: rgba(241, 240, 232, .5);
$--main: #CEBD88;
$--main-darker: #b09f6a;
$--main-lighter: rgba(206, 189, 136, .5);
$--red: #E14C38;

$--font-main: 'Raleway';
$--font-headers: 'Comfortaa';
$--font-subheaders: 'Pinyon Script';
