// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// delay
$transition-delay: .3s;

// border
$--border-radius: 0;
$--border-radius--img: $--border-radius $--border-radius 0 0;

/// Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

/// Relative or absolute URL where all assets are served from
$base-url: '~assets/images/' !default;

//fonts
$--pacifico: Pacifico, cursive;
$--lato: 'Lato', sans-serif;
$--header-font: 'Raleway', sans-serif;

// colors
$--primary: #CD4700;
$--secondary: #E3A900;
$--black: #1C1C1C;
$--white: #FFF;
// colors bg
$--primary-bg--light: #0E9B0E;
$--secondary-bg: #0089C8;
$--body-bg: #F5F6F6;
/// colors text
$--gray-text: #8B8B8B;
/// spacing
$--spacing-title: 9.5px;
//shadow
//$--card-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
$--card-shadow: none;

//trash
$text-color: rgb(34, 34, 34) !default;
$--gray: #F1F0E8;
