.hero {
  @extend %display-flex-column;
  justify-content: center;

  background: $--secondary url("#{$base-url}/common/r1.jpg") center no-repeat;
  background-size: cover;
  height: 560px;

  text-align: center;

  &__title {
    color: $--white;
    font-size: 110px;
    font-family: $--pacifico;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 480px;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    height: 300px;
  }
}
